@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Nunito&display=swap');

body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;

    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}


form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #647c52;
    color: #fff;
    border-radius: 2rem;
}

form button:hover {
    background-color: #0056b3;
}

.head {
    text-align: center;
}

#orderSummary {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#orderSummary p {
    font-weight: bold;
}

.qcontainer {
    background: linear-gradient(45deg, #cca9a9, #5dc7d6);
    padding: 1.6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    width: 45%;
    margin: 20px auto;
    color: #fff;
    /* Text color on the gradient background */
}