/* styles.css */

body {
  background-color: #f8f9fa;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

img.brand-logo {
  /* content: url("../assets/images/watchdogs.png"); */
  width: 3rem;
  border-radius: 2rem;
}
